raw_data/
notebooks
project_mhconvai.__pycache__/
project_mhconvai.ml_logic.__pycache__/
*.py[cod]
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
